//
//  CommonCrypto.xcconfig
//  SignalProtocolSwift
//
//  Created by User on 14.11.17.
//

MODULEMAP_FILE[sdk=iphoneos*]        = \
$(SRCROOT)/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = \
$(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = \
$(SRCROOT)/CommonCrypto/macosx.modulemap
